@page "/"
@inject IStyled  Styled
@inject IMixins Mixins

<h1>Blazor Styled Server-Side Blazor Test</h1>

<p class="@div">If everything is working right, the background of this paragraph tag should be pink.</p>

@code {
    private string div;
    private bool hasBeenDone;

    protected override async Task OnAfterRenderAsync()
    {
        if (!hasBeenDone)
        {
            await Styled.Css(Mixins.Normalize());

            div = await Styled.Css("background-color: pink;");

            hasBeenDone = true;
        }

        StateHasChanged();
    }
}
