@page "/alternate-install"

<h1>Alternate Install</h1>

<p>In some cases, the steps described in <a href="/client-side-install">Client Side Install</a> or <a href="/server-side-install">Server Side Install</a> will not for your project. 
    For example, Sync Fusion Blazor controls will not work
    with the setup described in those directions. In that case, there is an alternate way to setup BlazorStyled. This install is also useful if you want to share code in razor library
    in both a Client Side and Server Side project.</p>

<p>First add BlazorStyled to the <code>Startup.cs</code> in either your Client Side or Server Side:</p>

<PrettyCode CodeFile="_content/SampleCore/altInstall1.html" HighlightLines="7" Title="Startup.cs" />

<p>For Server Side, do not change your <code>_Host.cshtml</code>. In ClientSide no need to modify the <code>index.html</code> file.</p> 

<p>Instead add <code>&lt;ServerSideStyled /></code> (Note: This name is likely to change as it no longer only applies to Server Side) to your <code>MainLayout.razor</code>. For example:</p>

<PrettyCode CodeFile="_content/SampleCore/altInstall2.html" HighlightLines="2" Title="MainLayout.razor" />

<h3>Disadvantage of Alternate Install</h3>

<p>The disadvantage of using this install is that the styles insterted by BlazorStyled will come after any other style sheets (if any). 
    With the regular install style, you can control the location of the style tag in relation to other stylesheets.</p>