@page "/client-side-install"

<h1>Client Side Install</h1>

<h3>Install</h3>

<p><strong>Note:</strong> if you are having issues with other libraries check out the <a href="/alternate-install">Alternate Install</a>.</p>

<p>Add a reference to BlazorStyled from Nuget: <a href="https://www.nuget.org/packages/BlazorStyled/"><img src="https://img.shields.io/nuget/vpre/BlazorStyled.svg" /></a>
</p>

<h3>Usage</h3>

<p>
    Add BlazorStyled to <code>Startup.cs</code>. <code>isDevelopment</code> is not currently used but left in the API for backward compatibility.
</p>

<PrettyCode CodeFile="_content/SampleCore/install1.html" HighlightLines="5,11" Title="Startup.cs" />

<p>
    Add a <code>style</code> tag to your <code>index.html</code>:
</p>

<PrettyCode CodeFile="_content/SampleCore/install2.html" HighlightLines="8" Title="index.html" />

<p>Add the reference to the package to your <code>_Imports.razor</code> file:</p>

<PrettyCode CodeFile="_content/SampleCore/install3.html" HighlightLines="9" Title="_Imports.razor" />

<h3>API Usage</h3>

<p>
    Optionally, If you want to use the API (from a "code behind" for example), then inject <code>IStyled</code> into your component. If you are using
    the <code>&lt;Styled /></code> component, you do not need to inject <code>IStyled</code>
</p>

<PrettyCode CodeFile="_content/SampleCore/install4.html" ShowLineNumbers="false" />