@page "/googlefonts"

<StyledGoogleFont Name="Geostar" Styles="normal" />

<StyledGoogleFont Name="Roboto" Styles="normal,700" />

<Styled @bind-Classname="@geostar">
    font-family: Geostar;
</Styled>

<Styled @bind-Classname="@roboto">
    font-family: Roboto;
    font-weight: 700;
</Styled>


<Heading>Google Fonts</Heading>

<Paragraph>Google fonts is a fast and easy way to add <a href="https://fonts.google.com/">Google fonts </a> to your site. If you need more control or want to add fonts other than Google fonts,
    you can use access the full power of the <a href="/fonts">@@font-face tag</a>.
    </Paragraph>

<p class="@geostar">This is the Geostar font</p>

<PrettyCode CodeFile="_content/SampleCore/googleFont1.html" />

<Paragraph>
    Note: <code>Styles</code> is a list of strings that can be any font style accepted by Google font API such as: "normal", "bold", "300", "400" up to "900", and italic versions such as "700i". 
    For more information see <a href="https://developers.google.com/fonts/docs/getting_started#specifying_font_families_and_styles_in_a_stylesheet_url">the Google font developer API</a>.
</Paragraph>

<p class="@roboto">This is the (bold) Roboto font</p>

<PrettyCode CodeFile="_content/SampleCore/googleFont2.html" />

@code { 
    private string geostar, roboto;
}
