@page "/"

<Styled @bind-Classname="@hover">
    label: hover-example;
    padding: 32px;
    background-color: hotpink;
    font-size: 24px;
    border-radius: 4px;
    &:hover {
        color: @color;
    }
</Styled>

<Styled @bind-Classname="@example">
    margin-top: 20px;
</Styled>

<h1>Introduction</h1>

<p>BlazorStyled is a library designed for writing css styles directly in a Blazor component.</p>

<hr />

<h3>Example</h3>

<div class="@example">
    <div class="@hover">
        Hover to change color.
    </div>
    <PrettyCode CodeFile="_content/SampleCore/index1.html" />
</div>

@code {
    private string hover, example;
    private string color = "white";
}