@page "/media"
@inject IStyled Styled

<Heading>Media Queries</Heading>

<Paragraph>Using media queries in BlazorStyled works just like using media queries in regular css except you don’t have to specify a selector inside the block, 
    you can put your css directly in the css block.</Paragraph>

<p class="@p1">Some text!</p>

<PrettyCode CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/Sample/Pages/media.razor" CodeFileLineNumbers="9" CodeSectionFileLineNumbers="23,28-35,49" />

<Heading HeadingSize="HeadingSize.H3">Reusable Media Queries</Heading>

<Paragraph>Media queries can be useful to create responsive apps but repeating them is annoying and can lead to inconsistencies. 
    Instead of rewriting them each time you use them, you can move them into constants and refer to the variable each time you want to use them like this:</Paragraph>

<p class="@p2">Some other text!</p>

<PrettyCode CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/Sample/Pages/media.razor" CodeFileLineNumbers="18" CodeSectionFileLineNumbers="24,26,28,29,37-49" />

@code {
    private string p1;
    private string p2;

    private int[] breakpoints = new int[] { 576, 768, 992, 1200 };

    protected override void OnInit()
    {
        p1 = Styled.Css(@"
            font-size: 30px;
            @media (min-width: 420px) {
                font-size: 50px;
            }
        ");

        var mq = (from b in breakpoints
                  select $"@media (min-width: {b}px)").ToArray();

        p2 = Styled.Css($@"
            color: green;
            {mq[0]} {{
              color: gray;
            }}
            {mq[1]} {{
              color: hotpink;
            }}
        ");
    }
}