@page "/motivation"

<h1>Motivation</h1>

<Styled @bind-Classname="@ul">
    margin-top: 20px;
    padding-left: 20px;
</Styled>


<ul class="@ul">
    <li>Maintain your css inside your component instead of a seperate file</li>
    <li>Eliminate all collisions - no need to use !important</li>
    <li>No need to worry about depoying css files - great for libraries</li>
    <li>css are C# strings - use variables instead of solutions like sass</li>
</ul>

<h3>Inspiration</h3>

<ul class="@ul">
    <li><a href="https://emotion.sh/docs/introduction">Emotion</a></li>
    <li><a href="https://glamorous.rocks/">Glamorous</a></li>
    <li><a href="https://github.com/threepointone/glamor">Glamor</a></li>
</ul>

@code {
    private string ul;
}