@page "/nested"
@inject IStyled Styled

<Heading>Nested Selectors</Heading>

<Paragraph>Sometimes it’s useful to nest selectors to target elements inside the current class. You can use <code>&</code> which will be replaced with the current class name:</Paragraph>

<div class="@nested">Some text. <a>A link with a bottom border.</a></div>

<PrettyCode CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/SampleCore/Pages/Nested.razor" CodeFileLineNumbers="8" CodeSectionFileLineNumbers="36,42-51,70" />

<Paragraph>Another example:</Paragraph>

<header>
    <p class="@paragraph">
        This is green since it's inside a header
    </p>
</header>
<p class="@paragraph">
    This is turquoise since it's not inside a header.
</p>

<PrettyCode CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/SampleCore/Pages/Nested.razor" CodeFileLineNumbers="14-21" CodeSectionFileLineNumbers="37,42,43,53-58,70" />

<Heading HeadingSize="HeadingSize.H3">CSS pseudo classes</Heading>

<Paragraph>Lastly, <code>&</code> is also useful for defining pseudo classes such as <code>:hover</code>:</Paragraph>

<div class="@hover">
    Hover to change color.
</div>

<PrettyCode CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/SampleCore/Pages/Index.razor" CodeFileLineNumbers="13-15" CodeSectionFileLineNumbers="21-35,38" />

@code {
    private string nested;
    private string paragraph;
    private string hover;

    private string color = "white";

    protected override void OnInit()
    {
        nested = Styled.Css(@"
            color: turquoise;

            & a {
                border-bottom: 1px solid currentColor;
                cursor:pointer;
            }
        ");

        paragraph = Styled.Css(@"
            color: turquoise;
            header & {
                color: green;
            }
        ");

        hover = Styled.Css($@"
            padding: 32px;
            background-color: hotpink;
            font-size: 24px;
            border-radius: 4px;
            &:hover {{
                color: {color};
            }}
        ");
    }
}