@page "/server-side-install"

<h1>Server Side Install</h1>

<h3>Install</h3>

<p>Add a reference to BlazorStyled from Nuget:</p>

<div>
    <a href="https://www.nuget.org/packages/BlazorStyled/"><img src="https://img.shields.io/nuget/vpre/BlazorStyled.svg" /></a>
</div>

<h3>Usage</h3>

<p>
    Add BlazorStyled to <code>Startup.cs</code>. <code>isDevelopment</code> is not currently used but left in the API for backward compatibility.
</p>

<p>
    <strong>Notte:</strong> Aspnetcore 3.0 preivew8 modified the <code>Startup.cs</code> slightly. Please make sure that your <code>Startup.cs</code >line 29
    is as below.
</p>

<PrettyCode CodeFile="_content/SampleCore/install5.html" HighlightLines="7,29" Title="Startup.cs" />

<p>
    Add component to the <code>head</code> of your <code>_Host.cshtml</code> file:
</p>

<PrettyCode Title="_Host.cshtml" CodeFile="_content/SampleCore/install6.html" HighlightLines="12" />

<p>Add the reference to the package to your <code>_Imports.razor</code> file:</p>

<PrettyCode CodeFile="_content/SampleCore/install3.html" HighlightLines="9" Title="_Imports.razor" />

<h3>API Usage</h3>

<p>
    Optionally, If you want to use the API (from a "code behind" for example), then inject <code>IStyled</code> into your component. If you are using
    the <code>&lt;Styled /></code> component, you do not need to inject <code>IStyled</code>
</p>

<PrettyCode CodeFile="_content/SampleCore/install4.html" ShowLineNumbers="false" />