@page "/serverside"

<h1>Server Side Usage</h1>

<p>The examples on this documentation side are for Blazor Client Side, however, Server Side is supported with some minor changes. Follow the install directions on the 
    <a href="install">install page</a>. Then add component to the <code>head</code> of your <code>_Host.cshtml</code> file:</p>

<PrettyCode Title="_Host.cshtml" CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/ServerSideSample/Pages/_Host.cshtml" HighlightLines="12" />