@page "/test"
@inject IStyled Styled

<h1>This is a test</h1>

<h2>This is another test</h2>

<button @onclick="onclick">Clear test only</button>


@code { 
    protected override void OnInit()
    {
        Styled.Css("h1", "color: blue");
        Styled.WithId("test").Css("h2", "color: yellow;");
    }

    private void onclick() 
    {
        Console.WriteLine("Clear");
        Styled.WithId("test").ClearStyles();
    }
}