@page "/test"

<Styled @bind-Classname="@MyClass">
    label: hover-example;
    padding: 32px;
    background-color: green;
    font-size: 24px;
    border-radius: 4px;
    &:hover {
        color: @color;
    }
</Styled>

<p class="@MyClass">This is a test</p>

@code {
    private string color = "white";
    private string MyClass;
}