@page "/theming"
@inject IStyled Styled

<Styled @bind-Classname="@example">
    color: [colors.primary];
</Styled>

<h1>Theming</h1>

<p>Using the <code>SetThemeValue</code> method in <code>IStyled</code> lets you store variables in a <code>Dictionary</code> you can use in your CSS later..</p>

<p>To use a theme variable surround it with square brackets [ ] like in the example below.</p>

<p class="@example">Some text</p>

<div>
    <button @onclick="@onclickRed">Change theme value to red</button>
</div>

<div>
    <button @onclick="@onclickHotpink">Change theme value to hotpink</button>
</div>

<PrettyCode CodeFile="_content/SampleCore/theming1.html" />

@code {
    private string example;

    protected override void OnInitialized()
    {
        //Normally this would be defined else where such as in MainLayout.cs
        Styled.SetThemeValue("colors.primary", "hotpink");
    }

    private void onclickRed()
    {
        Styled.SetThemeValue("colors.primary", "red");
    }

    private void onclickHotpink()
    {
        Styled.SetThemeValue("colors.primary", "hotpink");
    }
}