@page "/theming"
@inject IStyled Styled

<Styled @bind-Classname="@example">
    color: {colors.primary};
</Styled>

<h1>Theming</h1>

<p>Using the <code>Theme</code> property in <code>IStyled</code> lets you store variables in a <code>Dictionary</code> you can use in your CSS later.
    You can also define <code>Theme</code> objects and allow your user to switch between them. (Example coming soon).</p>

<p>
    To use a theme variable surround it with brackets { } like in the example below.
</p>

<p class="@example">Some text</p>

<PrettyCode CodeFile="_content/SampleCore/theming1.html" />

@code {
    private string example;

    protected override void OnInitialized()
    {
        //Normally this would be defined else where such as in MainLayout.cs
        Styled.Theme.Values.Add("colors.primary", "hotpink");
    }
}