@page "/"
@inject IStyled Styled

<Heading>Introduction</Heading>

<Paragraph>BlazorStyled is a library designed for writing css styles directly in a Blazor component.</Paragraph>

<Line />

<Heading HeadingSize="HeadingSize.H3">Example</Heading>

<div class="@example">
    <div class="@hover">
        Hover to change color.
    </div>
    <PrettyCode CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/Sample/Pages/Index.razor" CodeFileLineNumbers="13-15" CodeSectionFileLineNumbers="21-35,38" />
</div>

@code {
    private string example;
    private string hover;
    private string color = "white";

    protected override async Task OnInitAsync()
    {
        hover = await Styled.Css($@"
                label: hover-example;
                padding: 32px;
                background-color: hotpink;
                font-size: 24px;
                border-radius: 4px;
                &:hover {{
                    color: {color};
                }}
            ");

        example = await Styled.Css("margin-top: 20px;");
    }
}
