@page "/"
@inject IStyled Styled

<Heading>Introduction</Heading>

<Paragraph>BlazorStyled is a library designed for writing css styles directly in a Blazor component.</Paragraph>

<Line />

<Heading HeadingSize="HeadingSize.H3">Example</Heading>

<div class="@example">
    <div class="@hover">
        Hover to change color.
    </div>
    <PrettyCode CodeFile="snippets/hover.html" />
</div>

@code {
    private string hover, example;
    private string color = "white";

    protected override async Task OnInitAsync()
    {
        hover = await Styled.Css($@"
            padding: 32px;
            background-color: hotpink;
            font-size: 24px;
            border-radius: 4px;
            &:hover {{
                color: {color};
            }}
        ");

        example = await Styled.Css("margin-top: 20px;");
    }
}
