@page "/install"
@inject IStyled Styled

<Heading>Install</Heading>

<Paragraph>Add a reference to BlazorStyled from Nuget:</Paragraph>

<div>
    <a href="https://www.nuget.org/packages/BlazorStyled/"><img src="https://img.shields.io/nuget/vpre/BlazorStyled.svg" /></a>
</div>

<Heading HeadingSize="HeadingSize.H3">Usage</Heading>

<Paragraph>Add BlazorStyled to <code>Startup.cs</code>. Setting <code>isDevelopment</code> to "true" will cause BlazorStyled to write the styles as text nodes in a style tag. 
    This allows the styles to be edited in the browser dev tools. Setting <code>isDevelopment</code> to "false" (the default if not specified) will cause BlazorStyled to write styles
    using <code>CSSStyle​Sheet​.insert​Rule()</code> which is faster but not editable in the browser dev tools (note the documentation site is set to development mode):
    </Paragraph>

<PrettyCode CodeFile="snippets/startup.html" />

<Paragraph>Add the reference to the package to your <code>_Imports.razor</code> file:</Paragraph>

<PrettyCode CodeFile="snippets/using.html" ShowLineNumbers="false" />

<Paragraph>Finally, inject <code>IStyled</code> into your component:</Paragraph>

<PrettyCode CodeFile="snippets/inject.html" ShowLineNumbers="false" />