@page "/nested"
@inject IStyled Styled

<Heading>Nested Selectors</Heading>

<Paragraph>Sometimes it’s useful to nest selectors to target elements inside the current class. You can use <code>&</code> which will be replaced with the current class name:</Paragraph>

<PrettyCode CodeFile="snippets/nested1.html" />

<Paragraph>Another example:</Paragraph>

<header>
    <p class="@paragraph">
        This is green since it's inside a header
    </p>
</header>
<p class="@paragraph">
    This is turquoise since it's not inside a header.
</p>

<PrettyCode CodeFile="snippets/nested2.html" />

<Heading HeadingSize="HeadingSize.H3">CSS pseudo classes</Heading>

<Paragraph>Lastly, <code>&</code> is also useful for defining pseudo classes such as <code>:hover</code>:</Paragraph>

<div class="@hover">
    Hover to change color.
</div>

<PrettyCode CodeFile="snippets/hover.html" />

@code {
    private string nested, paragraph, hover;

    private string color = "white";

    protected override async Task OnInitAsync()
    {
        nested = await Styled.Css(@"
            color: turquoise;

            & a {
                border-bottom: 1px solid currentColor;
                cursor:pointer;
            }
        ");

        paragraph = await Styled.Css(@"
            color: turquoise;
            header & {
                color: green;
            }
        ");

        hover = await Styled.Css($@"
            padding: 32px;
            background-color: hotpink;
            font-size: 24px;
            border-radius: 4px;
            &:hover {{
                color: {color};
            }}
        ");

    }
}