@page "/test"
@inject IStyled Styled

<h1>This is a test</h1>

<h2>This is another test</h2>

@code { 
    protected override async Task OnInitAsync()
    {
        await Styled.Css("html", "color: red;");
        await Styled.Css("html", "background-color: yellow;");
    }
}