@page "/test"
@inject IStyled Styled

<h1>This is a test</h1>

<h2>This is another test</h2>

<button @onclick="@onclick">Clear</button>

@code { 
    protected override async Task OnInitAsync()
    {
        await Styled.Css("@media only screen and (max-width:480px)", @"
            html {
                color: red;
            }
        ");
    }

    private void onclick() 
    {
        Styled.ClearStyles();
    }
}