<Fact DisplayName="red paragraph">
    <TestSetup>
        <ServerSideStyled />
        <Styled>
            p {
                color: red;
            }
        </Styled>
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show" role="alert"></div>
    </ExpectedHtml>
</Fact>