@page "/"

<Styled @bind-Classname="@p" MediaQuery="MediaQueries.LargerThanTablet">
    label: nav-column;
    width: 225px;
    background-color: green;
</Styled>

<h1>Hello, world!</h1>

<div>@p</div>

<p class="@p">Welcome to your new app.</p>

@code {
    private string p;
}