@page "/"
@inject IStyled Styled

<Styled>
    p {
        color: red;
    }
</Styled>

<Styled @bind-Classname="@p">
    font-size: 32px;
</Styled>

<p class="@p">Hello</p>

@code {
    private string p;
}