@page "/"
@inject IStyled Styled

    <Styled @bind-Classname="@ExtraSmallOnlyClass">
        @@media (min-width:0px) and (max-width:599.95px) {
            &{
                display: none;
            }
        }
    </Styled>

<div class="@ExtraSmallOnlyClass">
    This is small
</div>

@code {
    private string ExtraSmallOnlyClass;
}