@page "/"
@inject IStyled Styled

<Styled @bind-Classname="@example">
    color: red;
    label: test;
</Styled>

<div class="@example">
    This is a test!
</div>


@code {
    private string example;
}