@page "/"
@inject IStyled Styled


    <Styled @bind-Classname="@navColumn" MediaQuery="MediaQueries.LargerThanTablet">
        label: nav-column;
        flex-shrink: 0;
        position: fixed;
        width: 225px;
    </Styled>

<div class="@navColumn">
    Test
</div>

@code {
    private string navColumn;
}